[submodule "DLLInject"]
	path = DLLInject
	url = https://github.com/styinx/DLLInject
[submodule "log.c"]
	path = log.c
	url = https://github.com/styinx/log.c
[submodule "lua"]
	path = lua
	url = https://github.com/styinx/lua
[submodule "Detours"]
	path = Detours
	url = https://github.com/styinx/Detours
[submodule "imgui"]
	path = imgui
	url = https://github.com/styinx/imgui
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg/
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog

