[submodule "DLLInject"]
	path = DLLInject
	url = https://github.com/styinx/DLLInject
[submodule "log.c"]
	path = log.c
	url = https://github.com/styinx/log.c
[submodule "minhook"]
	path = minhook
	url = https://github.com/styinx/minhook
[submodule "lua"]
	path = lua
	url = https://github.com/styinx/lua
[submodule "Detours"]
	path = Detours
	url = https://github.com/styinx/Detours
[submodule "imgui"]
	path = imgui
	url = https://github.com/styinx/imgui
